body {
    background-color: #f8f9fa; /* Màu nền nhẹ */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff; /* Nền trắng */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 15px;
}

.footer {
    margin-top: 10px;
}
